In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("play_tennis.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [3]:
columns=data.columns[1:5]

In [3]:
outlook={}
count=0
for i in data["outlook"].unique():
    outlook[i]=count
    count+=1

In [4]:
temp={}
count=0
for i in data["temp"].unique():
    temp[i]=count
    count+=1

In [5]:
wind={}
count=0
for i in data["wind"].unique():
    wind[i]=count
    count+=1

In [6]:
humidity={}
count=0
for i in data["humidity"].unique():
    humidity[i]=count
    count+=1

In [7]:
for x in columns:
    locals()[x]={}
    count=0
    for i in data[x].unique():
        locals()[x][i]=count
        count+=1

In [10]:
for x in columns:
    for i in data[x].unique():
        data[x]=data[x].replace(i,locals()[x][i])

In [11]:
data

    day  outlook  temp  humidity  wind play
0    D1        0     0         0     0   No
1    D2        0     0         0     1   No
2    D3        1     0         0     0  Yes
3    D4        2     1         0     0  Yes
4    D5        2     2         1     0  Yes
5    D6        2     2         1     1   No
6    D7        1     2         1     1  Yes
7    D8        0     1         0     0   No
8    D9        0     2         1     0  Yes
9   D10        2     1         1     0  Yes
10  D11        0     1         1     1  Yes
11  D12        1     1         0     1  Yes
12  D13        1     0         1     0  Yes
13  D14        2     1         0     1   No

In [25]:
# for x in columns:
#     for i in data[x]:
#         print(i)
count={}
for i in columns:
    count[i]={}
    for x in data[i]:
        if x not in count[i]:
            count[i][x]=0
        count[i][x]+=1

In [26]:
count

{'outlook': {0: 5, 1: 4, 2: 5},
 'temp': {0: 4, 1: 6, 2: 4},
 'humidity': {0: 7, 1: 7},
 'wind': {0: 8, 1: 6}}

In [ ]:
probabilities